---
import Description from '~/components/Description.astro'
import Layout from '~/layouts/Layout.astro'
import { getLocale, getPath, getUI } from '~/utils/i18n'
export { getStaticPaths } from '~/utils/i18n'
import Button from '~/components/Button.astro'

const locale = getLocale(Astro)
const getLocalePath = getPath(locale)

const {
  routes: { about },
  layout,
} = getUI(locale)
---

<Layout title={layout.about.title} description={layout.about.description}>
  <main class="container flex min-h-screen w-full flex-col gap-24 py-24">
    <div class="flex w-full flex-col gap-6">
      <Description class="text-6xl font-bold leading-none">{about.title}</Description>
      <Description class="max-w-4xl">
        {about.description}
      </Description>
      <Button href={getLocalePath('/donate')} class="w-fit" isPrimary>{about.littleHelp}</Button>
    </div>
    <section class="flex w-full flex-col gap-6">
      <div class="text-4xl font-bold leading-none lg:text-5xl">{about.mainTeam.title}</div>
      <Description>
        {about.mainTeam.description}
      </Description>
      <div class="grid gap-6 md:grid-cols-2">
        {
          Object.entries(about.mainTeam.members).map(([team, members]) => (
            <article class="border-dark/10 flex flex-col gap-4 border-t pt-5">
              <h2 class="font-serif text-3xl font-medium leading-tight">
                {about.mainTeam.subTitle[team as keyof typeof about.mainTeam.subTitle]}
              </h2>
              <ul class="flex flex-col gap-3">
                {Object.entries(members).map(([_key, member]) => (
                  <li class="flex flex-col gap-1">
                    <div class="text-base font-semibold">
                      {member.link && typeof member.link === 'string' ? (
                        <a href={member.link} class="zen-link">
                          {member.name}
                        </a>
                      ) : (
                        member.name
                      )}
                    </div>
                    <p class="text-dark/70 text-sm leading-relaxed">{member.description}</p>
                  </li>
                ))}
              </ul>
            </article>
          ))
        }
      </div>
    </section>
    <section class="flex w-full flex-col gap-4">
      <div class="text-4xl font-bold leading-none lg:text-5xl">{about.contributors.title}</div>
      <Description>
        {about.contributors.description}
      </Description>
      <div class="border-dark/10 grid gap-4 border-t pt-5 md:grid-cols-2">
        <p class="font-serif text-2xl font-medium leading-tight">
          {about.contributors.browser}
        </p>
        <p class="font-serif text-2xl font-medium leading-tight">
          {about.contributors.website}
        </p>
      </div>
    </section>
  </main>
</Layout>
