---
import Button from '~/components/Button.astro'
import Description from '~/components/Description.astro'
import ArrowRightIcon from '~/icons/ArrowRightIcon.astro'
import Layout from '~/layouts/Layout.astro'
import { getLocale, getPath, getUI } from '~/utils/i18n'

export { getStaticPaths } from '~/utils/i18n'

const locale = getLocale(Astro)
const getLocalePath = getPath(locale)
const {
  routes: { download },
  layout,
} = getUI(locale)
---

<Layout title={layout.download.title} description={layout.download.description}>
  <main class="mt-32 flex flex-col px-6 pb-32">
    <div class="container relative mx-auto flex max-w-3xl flex-col gap-8">
      <Description id="download-title" class="text-6xl font-bold">{download.title}</Description>
      <Description class="text-pretty text-base md:text-lg">{download.description}</Description>

      <div class="flex flex-wrap gap-6">
        <Button href="https://wa.me/18767790854" isPrimary>
          {download.platformSelector.title}
          <ArrowRightIcon class="size-4" />
        </Button>
        <Button href={getLocalePath('/#services')}>{download.platformSelector.description}</Button>
      </div>

      <div class="border-dark/10 bg-subtle/40 mt-8 flex flex-col gap-4 rounded-xl border p-6">
        <h2 class="text-2xl font-semibold">{download.additionalResources.title}</h2>
        <div class="grid gap-4 sm:grid-cols-2">
          <div>
            <Description class="text-lg font-semibold"
              >{download.additionalResources.sourceCode.title}</Description
            >
            <p class="mt-2 opacity-75">{download.additionalResources.sourceCode.description}</p>
          </div>
          <div>
            <Description class="text-lg font-semibold"
              >{download.additionalResources.documentation.title}</Description
            >
            <p class="mt-2 opacity-75">{download.additionalResources.documentation.description}</p>
          </div>
        </div>
      </div>
      <p class="opacity-65">{download.securityNotice.title}</p>
      <p class="mt-2 text-sm opacity-70">{download.securityNotice.description}</p>
    </div>
  </main>
</Layout>

<style is:global>
  /* Download card icon */
  .download-card__icon {
    @apply flex h-10 w-10 items-center justify-center rounded-full bg-subtle p-2 text-coral data-[twilight='true']:text-zen-blue;
  }

  /* Make FontAwesome icons match size */
  .download-card__icon svg {
    width: 1.5rem;
    height: 1.5rem;
  }
</style>

<style is:global>
  .os-icon svg {
    height: 3rem;
    width: 3rem;
  }
</style>
