---
import Description from '~/components/Description.astro'
import SocialMediaStrip from '~/components/SocialMediaStrip.astro'
import Layout from '~/layouts/Layout.astro'

import Video from '~/components/Video.astro'
import { releaseNotes } from '~/release-notes'
import whatsNewText from '~/release-notes/whats-new.json'
import { getIntlLocale } from '~/constants/i18n'
import { getLocale, getUI } from '~/utils/i18n'
export { getStaticPaths } from '~/utils/i18n'

let latestVersion = releaseNotes[0]

const locale = getLocale(Astro)

const releaseWhatsAppContact = `https://wa.me/18767790854`
const latestDateText = latestVersion.date
  ? new Date(Date.parse(latestVersion.date.split('/').reverse().join('-'))).toLocaleDateString(
      getIntlLocale(locale),
      { dateStyle: 'long' }
    )
  : releaseNotes[0].date

const {
  routes: { whatsNew },
  layout,
} = getUI(locale)

if (whatsNewText[1] !== latestVersion.version) {
  latestVersion = releaseNotes[0]
}
---

<Layout title={layout.whatsNew.title.replace('{latestVersion.version}', latestVersion.version)}>
  <main
    class="xl:mt-22 container flex flex-col gap-12 py-12 xl:grid xl:min-h-[calc(100vh-12rem)] xl:grid-cols-[2fr_3fr]"
  >
    <div class="flex flex-col gap-8">
      <div>
        <Description class="text-5xl font-bold md:text-6xl"
          >{whatsNew.title.replace('{latestVersion.version}', latestVersion.version)}</Description
        >
        <Description>{latestDateText}</Description>
      </div>
      <div>
        <Fragment set:html={whatsNewText[0].replace(/\n/g, '<br>')} />
      </div>
      <ul class="hidden list-disc flex-col gap-2 xl:container xl:flex">
        <a href={releaseWhatsAppContact} target="_blank" rel="noopener noreferrer">
          <li>
            <Description class="text-base font-bold">{whatsNew.reportIssue}</Description>
          </li>
        </a>
        <a href={releaseWhatsAppContact} target="_blank" rel="noopener noreferrer">
          <li>
            <Description class="text-base font-bold">{whatsNew.joinDiscord}</Description>
          </li>
        </a>
      </ul>
      <div class="flex flex-wrap gap-8 place-self-start xl:place-self-center">
        <SocialMediaStrip gap="6" />
      </div>
    </div>

    <Video
      name="whats-new"
      autoplay
      loop
      muted
      playsinline
      preload="none"
      class="rounded-3xl object-cover shadow-lg"
    />
  </main>
</Layout>
