---
const { class: className, ...props } = Astro.props

import { icon, library } from '@fortawesome/fontawesome-svg-core'
import { faInstagram, faTiktok, faWhatsapp } from '@fortawesome/free-brands-svg-icons'
import { faEnvelope, faMapPin } from '@fortawesome/free-solid-svg-icons'
import { cn } from '~/utils/merge'

library.add(faInstagram, faTiktok, faWhatsapp, faEnvelope, faMapPin)
const Instagram = icon({ prefix: 'fab', iconName: 'instagram' })
const TikTok = icon({ prefix: 'fab', iconName: 'tiktok' })
const WhatsApp = icon({ prefix: 'fab', iconName: 'whatsapp' })
const Email = icon({ prefix: 'fas', iconName: 'envelope' })
const MapPin = icon({ prefix: 'fas', iconName: 'map-pin' })
---

<ul class={cn('flex items-center gap-4 opacity-80', className)} {...props}>
  <li>
    <a
      href="https://wa.me/18767790854"
      target="_blank"
      class="font-bold"
      aria-label="Message Meditation Fields on WhatsApp"
    >
      <Fragment set:html={WhatsApp.html} />
    </a>
  </li>
  <li>
    <a
      href="https://instagram.com/meditationfields"
      target="_blank"
      class="font-normal"
      aria-label="Meditation Fields on Instagram"
    >
      <Fragment set:html={Instagram.html} />
    </a>
  </li>
  <li>
    <a
      href="https://tiktok.com/@meditationfields"
      target="_blank"
      class="font-normal"
      aria-label="Meditation Fields on TikTok"
    >
      <Fragment set:html={TikTok.html} />
    </a>
  </li>
  <li>
    <a
      href="mailto:hello@meditationfields.studio"
      class="font-normal"
      aria-label="Email Meditation Fields"
    >
      <Fragment set:html={Email.html} />
    </a>
  </li>
  <li>
    <a
      href="https://maps.google.com/?q=Kingston"
      target="_blank"
      class="font-normal"
      aria-label="Find Meditation Fields on the map"
    >
      <Fragment set:html={MapPin.html} />
    </a>
  </li>
</ul>
